In [2]:
import pandas as pd
ruta=r'/home/jhonnyer/Documentos/Clases_UTP/Formadores/Modulo1/Seccion_1.4/Reto 4/Casos_positivos_de_COVID-19_en_ColombiaDiezMil.csv'
data=pd.read_csv(ruta)
data.head(2)

,ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,...,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Tipo recuperación,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico,ubicación recuperado
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,...,NaN,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,2020-03-06T00:00:00.000,PCR,11,380.0,Otro,NaN,Casa
1,2,2020-03-06T00:00:00.000,76111,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve,...,NaN,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,2020-03-09T00:00:00.000,PCR,76,724.0,Negro,NaN,Casa

# Calculo Diccionario 1, filtro porcentaje de contagiados por sexo

In [9]:
data.describe() #DAtos estadisticos del dataframe de contagios

,ID de caso,Código DIVIPOLA,Edad,Codigo departamento,Codigo pais
count,9960.000000,9960.000000,9960.000000,9960.000000,835.000000
mean,5002.915161,31533.813956,40.207329,31.437249,620.744910
std,2892.406847,27957.499645,18.662139,27.963790,242.002999
min,1.000000,5001.000000,0.000000,5.000000,32.000000
25%,2490.750000,11001.000000,27.000000,11.000000,484.000000
50%,5020.500000,11001.000000,38.000000,11.000000,724.000000
75%,7510.250000,50006.000000,53.000000,50.000000,840.000000
max,10000.000000,91540.000000,103.000000,91.000000,862.000000

In [3]:
#Funcion groupby que permite agrupar columnas con un valor en especifico de otra columna o un valor estadistico
PorcenSexo=data.groupby('Sexo').agg({'Sexo':'count'}) #Aqui la funcion count va contar cuantas personas son de sexo femenino y cuantas de sexo masculino
PorcenSexo

      Sexo
Sexo
F     4480
M     5476
f        3
m        1

In [4]:
# Vamos a convertir la letra f minuscula en mayuscula, y la letra m en M mayuscula 
data['Sexo']=data['Sexo'].replace('f','F')
data['Sexo']=data['Sexo'].replace('m','M')
#Funcion groupby que permite agrupar columnas con un valor en especifico de otra columna o un valor estadistico
PorcenSexo=data.groupby('Sexo').agg({'Sexo':'count'}) #Aqui la funcion count va contar cuantas personas son de sexo femenino y cuantas de sexo masculino
PorcenSexo

      Sexo
Sexo
F     4483
M     5477

In [11]:
# 9960 -> 100
# 4483 -> x

# x= (4483*100)/9960

PorcenSexo['Porcentaje']=(PorcenSexo['Sexo']*100)/len(data['Sexo'])
PorcenSexo=PorcenSexo.round(4) #Voy a redondear a 4 decimales el valor de porcentaje
PorcenSexo

      Sexo  Porcentaje
Sexo
F     4483       45.01
M     5477       54.99

In [13]:
#Para convertir un dataframe a un diccionario, voy a utilizar la funcion to_dict() de pandas
dict1=PorcenSexo.to_dict()
print(dict1)
print()
dict1=dict1['Porcentaje']
print(dict1)

{'Sexo': {'F': 4483, 'M': 5477}, 'Porcentaje': {'F': 45.01, 'M': 54.99}}

{'F': 45.01, 'M': 54.99}

# Diccionario 2, filtro porcentaje de edades por departamento

In [16]:
#Agrupacion de datos de edades y departamentos
PromDepto=data.groupby('Departamento o Distrito').agg({'Edad':'mean'}) #La funcion mean me permite obtener la media de edades de contagiados
PromDepto=PromDepto.round(4)
PromDepto.head(2)

                            Edad
Departamento o Distrito
Amazonas                 38.4545
Antioquia                40.5000

In [17]:
#Para convertir un dataframe a un diccionario, voy a utilizar la funcion to_dict() de pandas
dict2=PromDepto.to_dict()
print(dict2)
print()
dict2=dict2['Edad']
print(dict2)

{'Edad': {'Amazonas': 38.4545, 'Antioquia': 40.5, 'Archipiélago de San Andrés Providencia y Santa Catalina': 44.6667, 'Atlántico': 37.3636, 'Barranquilla D.E.': 39.2708, 'Bogotá D.C.': 40.8306, 'Bolívar': 47.2308, 'Boyacá': 43.2459, 'Buenaventura D.E.': 39.9615, 'Caldas': 40.2553, 'Caquetá': 37.3333, 'Cartagena D.T. y C.': 42.5385, 'Casanare': 37.8, 'Cauca': 40.5122, 'Cesar': 39.9143, 'Chocó': 40.4444, 'Cundinamarca': 38.5761, 'Córdoba': 43.6129, 'Huila': 46.5714, 'La Guajira': 41.7333, 'Magdalena': 37.8429, 'Meta': 35.7033, 'Nariño': 37.8577, 'Norte de Santander': 43.2444, 'Quindío': 44.1692, 'Risaralda': 38.8411, 'Santa Marta D.T. y C.': 43.8095, 'Santander': 41.3, 'Sucre': 28.0, 'Tolima': 35.3592, 'Valle del Cauca': 41.641}}

{'Amazonas': 38.4545, 'Antioquia': 40.5, 'Archipiélago de San Andrés Providencia y Santa Catalina': 44.6667, 'Atlántico': 37.3636, 'Barranquilla D.E.': 39.2708, 'Bogotá D.C.': 40.8306, 'Bolívar': 47.2308, 'Boyacá': 43.2459, 'Buenaventura D.E.': 39.9615, 'Caldas': 40.2553, 'Caquetá': 37.3333, 'Cartagena D.T. y C.': 42.5385, 'Casanare': 37.8, 'Cauca': 40.5122, 'Cesar': 39.9143, 'Chocó': 40.4444, 'Cundinamarca': 38.5761, 'Córdoba': 43.6129, 'Huila': 46.5714, 'La Guajira': 41.7333, 'Magdalena': 37.8429, 'Meta': 35.7033, 'Nariño': 37.8577, 'Norte de Santander': 43.2444, 'Quindío': 44.1692, 'Risaralda': 38.8411, 'Santa Marta D.T. y C.': 43.8095, 'Santander': 41.3, 'Sucre': 28.0, 'Tolima': 35.3592, 'Valle del Cauca': 41.641}

# Calculo Diccionario 3: contagios casos importados por paises

In [18]:
data.loc[data.Tipo=='Importado']

,ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,...,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Tipo recuperación,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico,ubicación recuperado
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,...,NaN,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,2020-03-06T00:00:00.000,PCR,11,380.0,Otro,NaN,Casa
1,2,2020-03-06T00:00:00.000,76111,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve,...,NaN,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,2020-03-09T00:00:00.000,PCR,76,724.0,Negro,NaN,Casa
2,3,2020-03-07T00:00:00.000,5001,Medellín,Antioquia,Recuperado,50,F,Importado,Leve,...,NaN,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,2020-03-09T00:00:00.000,PCR,5,724.0,Otro,NaN,Casa
6,7,2020-03-08T00:00:00.000,13001,Cartagena de Indias,Cartagena D.T. y C.,Recuperado,85,F,Importado,Leve,...,NaN,2020-03-11T00:00:00.000,2020-03-17T00:00:00.000,2020-03-11T00:00:00.000,PCR,13,840.0,Otro,NaN,Casa
7,8,2020-03-09T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,22,F,Importado,Leve,...,NaN,2020-03-11T00:00:00.000,2020-03-21T00:00:00.000,2020-03-11T00:00:00.000,PCR,11,724.0,Otro,NaN,Casa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9084,9125,2020-04-29T00:00:00.000,91001,Leticia,Amazonas,Recuperado,37,F,Importado,Leve,...,NaN,2020-05-07T00:00:00.000,2020-06-02T00:00:00.000,2020-05-07T00:00:00.000,PCR,91,76.0,Indígena,TIKUNA,Casa
9153,9194,2020-05-05T00:00:00.000,91001,Leticia,Amazonas,Recuperado,39,F,Importado,Leve,...,NaN,2020-05-07T00:00:00.000,2020-06-02T00:00:00.000,2020-05-07T00:00:00.000,PCR,91,76.0,Otro,NaN,Casa
9208,9249,2020-04-28T00:00:00.000,91001,Leticia,Amazonas,Recuperado,32,M,Importado,Leve,...,NaN,2020-05-07T00:00:00.000,2020-06-02T00:00:00.000,2020-05-07T00:00:00.000,Tiempo,91,76.0,Otro,NaN,Casa
9217,9258,2020-04-28T00:00:00.000,91001,Leticia,Amazonas,Recuperado,44,M,Importado,Leve,...,NaN,2020-05-07T00:00:00.000,2020-06-02T00:00:00.000,2020-05-07T00:00:00.000,PCR,91,76.0,Indígena,NaN,Casa
9560,9601,2020-05-03T00:00:00.000,44430,Maicao,La Guajira,Fallecido,41,M,Importado,Fallecido,...,2020-05-06T00:00:00.000,2020-05-08T00:00:00.000,NaN,2020-05-08T00:00:00.000,NaN,44,862.0,Otro,NaN,Fallecido

In [19]:
data.loc[data.Tipo=='Importado'].describe()

,ID de caso,Código DIVIPOLA,Edad,Codigo departamento,Codigo pais
count,813.000000,813.000000,813.000000,813.000000,813.000000
mean,1258.281673,28848.996310,42.854859,28.762608,622.312423
std,1516.055137,28080.541805,15.967442,28.051351,239.451947
min,1.000000,5001.000000,5.000000,5.000000,32.000000
25%,309.000000,11001.000000,30.000000,11.000000,484.000000
50%,794.000000,11001.000000,40.000000,11.000000,724.000000
75%,1655.000000,54001.000000,55.000000,54.000000,840.000000
max,9601.000000,91001.000000,87.000000,91.000000,862.000000

In [28]:
#Filtrar los datos que sean importados
porcen=data[data['Tipo']=='Importado']
porcen.head(2)
#AGrupacion de valores por pais de procedencia y el numero de contagiados por paises de procedencia
#Count permite contar el numero de contagiados, en este caso por pais de procedencia
porcen=porcen.groupby('País de procedencia').agg({'País de procedencia':'count'}) 
porcen.head(2)

#Regla de 3
# 813 son el total de contagiados del extranjero
# 813 ->100
# 10 -> x
# x=(10*100)/813
porcen['Porcentaje']=(porcen['País de procedencia']*100)/len(data[data['Tipo']=='Importado'].index)
porcen=porcen.round(4)
porcen.head(2)

                       País de procedencia  Porcentaje
País de procedencia
ALEMANIA                                10       1.230
ANTILLAS NEERLANDESAS                    8       0.984

In [29]:
#Para convertir un dataframe a un diccionario, voy a utilizar la funcion to_dict() de pandas
dict3=porcen.to_dict()
print(dict3)
print()
dict3=dict3['Porcentaje']
print(dict3)

{'País de procedencia': {'ALEMANIA': 10, 'ANTILLAS NEERLANDESAS': 8, 'ARABIA SAUDÍ': 1, 'ARGENTINA': 3, 'ARUBA': 3, 'AUSTRALIA': 1, 'BRASIL': 36, 'BÉLGICA': 1, 'CANADÁ': 3, 'CHILE': 6, 'COSTA RICA': 2, 'CROACIA': 1, 'CUBA': 4, 'ECUADOR': 48, 'EGIPTO': 11, 'EMIRATOS ARABES UNIDOS': 1, 'ESPAÑA': 255, 'ESTADOS UNIDOS': 201, 'ESTADOS UNIDOS DE AMÉRICA': 1, 'FRANCIA': 17, 'GRECIA': 4, 'GUATEMALA': 1, 'HONDURAS': 1, 'IRLANDA': 1, 'ISRAEL': 6, 'ITALIA': 9, 'JAMAICA': 16, 'KENYA': 1, 'MARRUECOS': 2, 'MÉXICO': 45, 'PANAMA': 34, 'PERU': 10, 'PUERTO RICO': 13, 'REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE': 14, 'REPÚBLICA DOMINICANA': 9, 'SUECIA': 1, 'SUIZA': 1, 'TURQUÍA': 27, 'URUGUAY': 1, 'VENEZUELA': 4}, 'Porcentaje': {'ALEMANIA': 1.23, 'ANTILLAS NEERLANDESAS': 0.984, 'ARABIA SAUDÍ': 0.123, 'ARGENTINA': 0.369, 'ARUBA': 0.369, 'AUSTRALIA': 0.123, 'BRASIL': 4.428, 'BÉLGICA': 0.123, 'CANADÁ': 0.369, 'CHILE': 0.738, 'COSTA RICA': 0.246, 'CROACIA': 0.123, 'CUBA': 0.492, 'ECUADOR': 5.9041, 'EGIPTO': 1.353, 'EMIRATOS ARABES UNIDOS': 0.123, 'ESPAÑA': 31.3653, 'ESTADOS UNIDOS': 24.7232, 'ESTADOS UNIDOS DE AMÉRICA': 0.123, 'FRANCIA': 2.091, 'GRECIA': 0.492, 'GUATEMALA': 0.123, 'HONDURAS': 0.123, 'IRLANDA': 0.123, 'ISRAEL': 0.738, 'ITALIA': 1.107, 'JAMAICA': 1.968, 'KENYA': 0.123, 'MARRUECOS': 0.246, 'MÉXICO': 5.5351, 'PANAMA': 4.182, 'PERU': 1.23, 'PUERTO RICO': 1.599, 'REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE': 1.722, 'REPÚBLICA DOMINICANA': 1.107, 'SUECIA': 0.123, 'SUIZA': 0.123, 'TURQUÍA': 3.321, 'URUGUAY': 0.123, 'VENEZUELA': 0.492}}

{'ALEMANIA': 1.23, 'ANTILLAS NEERLANDESAS': 0.984, 'ARABIA SAUDÍ': 0.123, 'ARGENTINA': 0.369, 'ARUBA': 0.369, 'AUSTRALIA': 0.123, 'BRASIL': 4.428, 'BÉLGICA': 0.123, 'CANADÁ': 0.369, 'CHILE': 0.738, 'COSTA RICA': 0.246, 'CROACIA': 0.123, 'CUBA': 0.492, 'ECUADOR': 5.9041, 'EGIPTO': 1.353, 'EMIRATOS ARABES UNIDOS': 0.123, 'ESPAÑA': 31.3653, 'ESTADOS UNIDOS': 24.7232, 'ESTADOS UNIDOS DE AMÉRICA': 0.123, 'FRANCIA': 2.091, 'GRECIA': 0.492, 'GUATEMALA': 0.123, 'HONDURAS': 0.123, 'IRLANDA': 0.123, 'ISRAEL': 0.738, 'ITALIA': 1.107, 'JAMAICA': 1.968, 'KENYA': 0.123, 'MARRUECOS': 0.246, 'MÉXICO': 5.5351, 'PANAMA': 4.182, 'PERU': 1.23, 'PUERTO RICO': 1.599, 'REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE': 1.722, 'REPÚBLICA DOMINICANA': 1.107, 'SUECIA': 0.123, 'SUIZA': 0.123, 'TURQUÍA': 3.321, 'URUGUAY': 0.123, 'VENEZUELA': 0.492}

In [4]:
import pandas as pd
ruta=r'/home/jhonnyer/Documentos/Clases_UTP/Formadores/Modulo1/Seccion_1.4/Reto 4/Casos_positivos_de_COVID-19_en_ColombiaDiezMil.csv'
def Casos(ruta_archivo:str)->dict:
    data = pd.read_csv(ruta_archivo)
    data['Sexo'] = data['Sexo'].replace('f', 'F')
    data['Sexo'] = data['Sexo'].replace('m', 'M')
    PromeDepart=data.groupby('Departamento o Distrito').agg({'Edad':'mean'})
    PromeDepart=PromeDepart.round(4)
    
    PorcenSexo=data.groupby('Sexo').agg({'Sexo':'count'})
    PorcenSexo['Porcentaje']=(PorcenSexo['Sexo']*100)/len(data['Sexo'])
    PorcenSexo=PorcenSexo.round(4)
    
    porcen=data[data['Tipo']=='Importado']
    porcen=porcen.groupby('País de procedencia').agg({'País de procedencia':'count'})
    porcen['Porcentaje']=(porcen['País de procedencia']*100)/len(data[data['Tipo']=='Importado'].index)
    porcen=porcen.round(4)
    
    
    dicct3=porcen.to_dict()
    dicct3= dicct3['Porcentaje']
    dicct2=PromeDepart.to_dict()
    dicct2=dicct2['Edad']
    dicct=PorcenSexo.to_dict()
    dicct= dicct['Porcentaje']
  
            
    
    return([dicct, dicct2, dicct3])


solucion=Casos(ruta)
print(solucion)


# dict1, dict2, dict3=Casos(ruta)
# print(dict1)
# print()
# print(dict2)
# print()
# print(dict3)

[{'F': 45.01, 'M': 54.99}, {'Amazonas': 38.4545, 'Antioquia': 40.5, 'Archipiélago de San Andrés Providencia y Santa Catalina': 44.6667, 'Atlántico': 37.3636, 'Barranquilla D.E.': 39.2708, 'Bogotá D.C.': 40.8306, 'Bolívar': 47.2308, 'Boyacá': 43.2459, 'Buenaventura D.E.': 39.9615, 'Caldas': 40.2553, 'Caquetá': 37.3333, 'Cartagena D.T. y C.': 42.5385, 'Casanare': 37.8, 'Cauca': 40.5122, 'Cesar': 39.9143, 'Chocó': 40.4444, 'Cundinamarca': 38.5761, 'Córdoba': 43.6129, 'Huila': 46.5714, 'La Guajira': 41.7333, 'Magdalena': 37.8429, 'Meta': 35.7033, 'Nariño': 37.8577, 'Norte de Santander': 43.2444, 'Quindío': 44.1692, 'Risaralda': 38.8411, 'Santa Marta D.T. y C.': 43.8095, 'Santander': 41.3, 'Sucre': 28.0, 'Tolima': 35.3592, 'Valle del Cauca': 41.641}, {'ALEMANIA': 1.23, 'ANTILLAS NEERLANDESAS': 0.984, 'ARABIA SAUDÍ': 0.123, 'ARGENTINA': 0.369, 'ARUBA': 0.369, 'AUSTRALIA': 0.123, 'BRASIL': 4.428, 'BÉLGICA': 0.123, 'CANADÁ': 0.369, 'CHILE': 0.738, 'COSTA RICA': 0.246, 'CROACIA': 0.123, 'CUBA': 0.492, 'ECUADOR': 5.9041, 'EGIPTO': 1.353, 'EMIRATOS ARABES UNIDOS': 0.123, 'ESPAÑA': 31.3653, 'ESTADOS UNIDOS': 24.7232, 'ESTADOS UNIDOS DE AMÉRICA': 0.123, 'FRANCIA': 2.091, 'GRECIA': 0.492, 'GUATEMALA': 0.123, 'HONDURAS': 0.123, 'IRLANDA': 0.123, 'ISRAEL': 0.738, 'ITALIA': 1.107, 'JAMAICA': 1.968, 'KENYA': 0.123, 'MARRUECOS': 0.246, 'MÉXICO': 5.5351, 'PANAMA': 4.182, 'PERU': 1.23, 'PUERTO RICO': 1.599, 'REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE': 1.722, 'REPÚBLICA DOMINICANA': 1.107, 'SUECIA': 0.123, 'SUIZA': 0.123, 'TURQUÍA': 3.321, 'URUGUAY': 0.123, 'VENEZUELA': 0.492}]

In [ ]:
solucion=Casos(ruta)
print(solucio)

# Calificaciones reto 4 G-232

In [8]:
import pandas as pd

ruta = r'/home/jhonnyer/Documentos/Clases_UTP/Formadores/Modulo1/Seccion_1.4/Reto 4/Casos_positivos_de_COVID-19_en_ColombiaDiezMil.csv'

def Casos(ruta_archivo:str)->dict:
    data = pd.read_csv(ruta_archivo)
    data['Sexo'] = data['Sexo'].replace('f', 'F')
    data['Sexo'] = data['Sexo'].replace('m', 'M')
    PromeDepart=data.groupby('Departamento o Distrito').agg({'Edad':'mean'})
    PromeDepart=PromeDepart.round(4)
    
    PorcenSexo=data.groupby('Sexo').agg({'Sexo':'count'})
    PorcenSexo['Porcentaje']=(PorcenSexo['Sexo']*100)/len(data['Sexo'])
    PorcenSexo=PorcenSexo.round(4)
    
    porcen=data[data['Tipo']=='Importado']
    porcen=porcen.groupby('País de procedencia').agg({'País de procedencia':'count'})
    porcen['Porcentaje']=(porcen['País de procedencia']*100)/len(data[data['Tipo']=='Importado'].index)
    porcen=porcen.round(4)
    
    
    dicct3=porcen.to_dict()
    dicct3= dicct3['Porcentaje']
    dicct2=PromeDepart.to_dict()
    dicct2=dicct2['Edad']
    dicct=PorcenSexo.to_dict()
    dicct= dicct['Porcentaje']
  
            
    
    return([dicct, dicct2, dicct3])


solucion=Casos(ruta)
print(solucion)


# dict1, dict2, dict3=Casos(ruta)
# print(dict1)
# print()
# print(dict2)
# print()
# print(dict3)
# solucion=Casos(ruta)
# print(solucion)

[{'F': 45.01, 'M': 54.99}, {'Amazonas': 38.4545, 'Antioquia': 40.5, 'Archipiélago de San Andrés Providencia y Santa Catalina': 44.6667, 'Atlántico': 37.3636, 'Barranquilla D.E.': 39.2708, 'Bogotá D.C.': 40.8306, 'Bolívar': 47.2308, 'Boyacá': 43.2459, 'Buenaventura D.E.': 39.9615, 'Caldas': 40.2553, 'Caquetá': 37.3333, 'Cartagena D.T. y C.': 42.5385, 'Casanare': 37.8, 'Cauca': 40.5122, 'Cesar': 39.9143, 'Chocó': 40.4444, 'Cundinamarca': 38.5761, 'Córdoba': 43.6129, 'Huila': 46.5714, 'La Guajira': 41.7333, 'Magdalena': 37.8429, 'Meta': 35.7033, 'Nariño': 37.8577, 'Norte de Santander': 43.2444, 'Quindío': 44.1692, 'Risaralda': 38.8411, 'Santa Marta D.T. y C.': 43.8095, 'Santander': 41.3, 'Sucre': 28.0, 'Tolima': 35.3592, 'Valle del Cauca': 41.641}, {'ALEMANIA': 1.23, 'ANTILLAS NEERLANDESAS': 0.984, 'ARABIA SAUDÍ': 0.123, 'ARGENTINA': 0.369, 'ARUBA': 0.369, 'AUSTRALIA': 0.123, 'BRASIL': 4.428, 'BÉLGICA': 0.123, 'CANADÁ': 0.369, 'CHILE': 0.738, 'COSTA RICA': 0.246, 'CROACIA': 0.123, 'CUBA': 0.492, 'ECUADOR': 5.9041, 'EGIPTO': 1.353, 'EMIRATOS ARABES UNIDOS': 0.123, 'ESPAÑA': 31.3653, 'ESTADOS UNIDOS': 24.7232, 'ESTADOS UNIDOS DE AMÉRICA': 0.123, 'FRANCIA': 2.091, 'GRECIA': 0.492, 'GUATEMALA': 0.123, 'HONDURAS': 0.123, 'IRLANDA': 0.123, 'ISRAEL': 0.738, 'ITALIA': 1.107, 'JAMAICA': 1.968, 'KENYA': 0.123, 'MARRUECOS': 0.246, 'MÉXICO': 5.5351, 'PANAMA': 4.182, 'PERU': 1.23, 'PUERTO RICO': 1.599, 'REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE': 1.722, 'REPÚBLICA DOMINICANA': 1.107, 'SUECIA': 0.123, 'SUIZA': 0.123, 'TURQUÍA': 3.321, 'URUGUAY': 0.123, 'VENEZUELA': 0.492}]